<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>VueDemo</title>
    <script src="/static/vue/vue.js"></script>
</head>
<body>

<div id="app">
    <br>
        <input v-model="nickname" placeholder="昵称"><br/>
        <textarea v-model="content" placeholder="留言内容，您的ip，地址会被记录并显示" ></textarea><br/>
    </form>
    <button type="button" onclick="doComment()">提交</button><br/>
    <span id="result"></span>
</div>

<script>
    //返回一个XMLHttpRequest对象
    function getXhr(){

        var xhr = null;
        if(window.XMLHttpRequest){
            //非IE浏览器
            xhr = new XMLHttpRequest();
        }else{
            //IE浏览器
            xhr = new ActiveXObject("Microsoft.XMLHttp");
        }
        return xhr;
    }

    var app = new Vue({
        el:"#app",
        data:{
        }
    });

    function doComment() {
        let xhr = getXhr();
        xhr.open("GET", "http://ip.360.cn/IPShare/info",false);
        xhr.setRequestHeader("Access-Control-Allow-Origin", )
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200){
                let txt = xhr.responseText;

                document.getElementById("result").innerText(txt);
            }
        };
        xhr.send(null);
    }
</script>

</body>
</html>