<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>标题</title>
</head>
<body>

    <h1>h1标题</h1>
    <h2 contenteditable="true">h2标题</h2>
    <h3 style="color: darkgray;text-align: center">h3标题</h3>
    <h4 draggable="true">h4标题</h4>
    <h5 dir="rtl">h5标题</h5>
    <p>
        <bdo dir="rtl" >hello worlds</bdo>
    </p>

    <h6 hidden="hidden">h6标题</h6>

    <p>学习前端</p>
    <p><strong>前端</strong>，<em>后台</em>，<big>全栈</big></p>
    <p><b>前端</b>，<i>后台</i>，全栈<sub>sub</sub><sup>sup</sup> </p>
    <p><ins>前端</ins><del>后台</del></p>

    <pre>
        pre标签  控制文本 中 的空格
        第二行

        第四行
    </pre>
    <hr />
    <p><a href="http://www.github.com/" target="_blank"> <img src="../static/imgs/be_your_own_hero.jpeg" title="github" width="75" height="75"/> </a> </p>
    <p></p>

</body>
</html>