<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClawnJ's Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/css/mycss.css"/>
</head>
<body>
    <h1> ClawnJ </h1>

    <p class="cite">
        往者不可谏，来者犹可追
    </p>

    <div id="contact">
    <table border="1" cellspacing="0">
        <tr>
            <th class="contact">github</th>
            <td class="contact"><a href="https://github.com/SimpleFate/" target="_blank">SimpleFate</a></td>
        </tr>
        <tr>
            <th>csdn</th>
            <td><a href="https://blog.csdn.net/SimpleFate" target="_blank">puppy_fish</a></td>
        </tr>
    </table>
    </div>

    <form action = "/test" method="post">
        用户名：<input type="text" name="username"/> <br/>
        密码：<input type="password" name="password"/>
        <input type="submit" value="登录"/>
    </form>

</body>
</html>